<h1>To Do List</h1>
<hr>

<h2>Edit Item: @Model["item"].GetDescription()</h2>

<!-- without Razor syntax this is /categories/{categoryId}/items/{itemId} -->
<!-- this is a post method!!!!! route needs to be a post!!!! -->
<form action="/categories/@Model["category"].GetId()/items@Model["item"].GetId()" method="post">
  <label for"newDescription>Name:</label>
  <input type="text" name="newDescription" value="@Model["item"].GetDescription()">
  <button type="submit">Edit</button>
</form>
