<h1>To Do List Item Details: </h1>

<h2>@Model["item"].GetDescription()</h2>
<h3>Category: @Model["category"].GetName()</h3>

<a href='/categories/@Model["category"].GetId()/items/new'>Add another item</a>
<a href='/categories'>View all categories</a>
<!-- add a link to access the edit route -->
<!-- When someone clicks this link, it will activate our Edit() route in ItemsController. That route will load a view of the same name.-->
<a href='/categories/@Model["category"].GetId()/items/@Model["item"].GetId()/edit'>Edit this item</a>
<a href='/categories/@Model["category"].GetId()/items/@Model["item"].GetId()/delete'>Delete this item</a>
